# 1. 리스트 만들기

리스트 = [값, 값, ...] 의 형식으로 만들며 여러가지 자료형이 들어갈 수 있습니다

In [1]:
arr = [1, 2.6, True, "Python"]
arr

[1, 2.6, True, 'Python']

빈 리스트를 만들 때는   
 - list()
 - [] 
 형식으로 만들 수 있습니다.

In [2]:
arr1 = list()
arr1

[]

In [3]:
arr2 = []
arr2

[]

## 1.2 range() 를 이용하여 리스트 만들기

range 객체는 연속된 숫자를 생성

In [4]:
# list(range(횟수))
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#  list(range(시작, 끝))
# 끝 값은 포함 X
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
# list(range(시작, 끝, 증감폭))
list(range(5, 10, 2))

[5, 7, 9]

In [7]:
list(range(10, 5, -2))

[10, 8, 6]

# 2. 튜플

튜플(tuple)은 리스트 처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경, 추가, 삭제를 할 수 없습니다.  
간단하게 읽기 리스트라 할 수 있습니다.

**심화 내용**

단순하게 수정이 불가능 한 것이 아니라  
처음 정의 했던 튜플의 요소들의 참조값을 변경할 수 없습니다.

In [8]:
# 튜플이 수정되는 예시
t = (5,[25,2], {3,5})
t[1].append(523)
t

(5, [25, 2, 523], {3, 5})

In [9]:
t[2].add(7)
t

(5, [25, 2, 523], {3, 5, 7})

## 2.1. 튜플 사용하기

튜플 = (값, 값, 값)  
튜플 = 값, 값, 값  

등으로 표현이 가능합니다.

In [10]:
t1 = (1,2,3)
t1

(1, 2, 3)

In [11]:
t2 = 3,4,5
t2

(3, 4, 5)

튜플도 여러 형식의 값을 저장할 수 있습니다.

In [12]:
t3 = (1, 1.5, '일점오', True, [1,2,3])
t3

(1, 1.5, '일점오', True, [1, 2, 3])

In [13]:
# 요소가 하나일 때 튜플이 아닌 값을 반환합니다.
(35)

35

요소가 한개 들어있는 튜플은 다음과 같은 형태로 만듭니다.  
튜플 = (값,)  
튜플 = 값,

In [14]:
t4 = 25,
t4

(25,)

In [15]:
t5 = 25,
t5

(25,)

## 2.2. range를 사용하여 튜플만들기   

list와 동일합니다.

# 3. 튜플을 리스트로, 리스트를 튜플로 만들기

tuple안에 리스트를 넣으면 새 튜플이 생깁니다.

In [16]:
l_to_t = tuple([1,2,3])
l_to_t

(1, 2, 3)

리스트도 마찬가지로 리스트 안에 튜플을 넣으면 리스트가 생깁니다.

In [17]:
t_to_l = list((1,2,3))
t_to_l

[1, 2, 3]

# 참고

## list와 tuple안에 문자열을 넣으면?

문자 하나하나가 리스트의 요소로 들어간 리스트가 만들어집니다.  
튜플도 동일

In [18]:
list("Hello!")

['H', 'e', 'l', 'l', 'o', '!']

In [19]:
tuple("Hello!")

('H', 'e', 'l', 'l', 'o', '!')

##  리스트, 튜플 언패킹

리스트와 튜플의 요소를 변수 여러 개에 할당하는 것을 리스트 언패킹, 튜플 언패킹 이라고 합니다.

In [20]:
a,b,c = [1,2,3]
print(a)
print(b)
print(c)

1
2
3

In [21]:
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3