# 1. 리스트에 요소 추가하기

리스트에 요소를 추가하는 메서드는 크게 3가지가 있습니다. 

 - append()
 - extend()
 - insert()

**append(요소)** 

리스트의 마지막에 요소를 추가합니다.

In [1]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [2]:
a = [1,2,3]
# 리스트 끝에 [4,5]리스트 객체를 요소로 추가 
a.append([4,5])
a

#2차원 중첩 리스트를 반환

[1, 2, 3, [4, 5]]

In [3]:
# 이 경우 리스트의 길이는 1, 2, 3, [4,5] 로 4를 반환합니다.

len(a)

4

추가 할 요소가 여러개인 경우 extend()로 한 번에 여러 요소 추가가 가능합니다.

**extend(반복 가능한 객체(이터러블객체) )**

In [4]:
a = [1,2,3] 
a.extend([4,5])
a

[1, 2, 3, 4, 5]

특정 인덱스에 요소를 추가하고 싶은 경우에는 inssert()를 사용합니다.  

**insert(인덱스, 요소)**

In [5]:
a = [1,2,4,5]
a.insert(2, 3)
a

[1, 2, 3, 4, 5]

# 2. 리스트에서 요소 삭제하기  
  
  리스트에서 요소를 삭제하는 메서드는 두 가지가 있습니다.
  
  - pop()
  - remove()

**pop(인덱스)** 로 사용되며 인덱스의 Default값은 리스트의 마지막 값입니다.  

또한 pop()메서드는 리스트에서 해당 값을 제거하며 반환합니다.

In [6]:
arr = [1,2,3,4,5]
# 마지막 요소 삭제 후 반환
arr.pop()

5

In [7]:
arr

[1, 2, 3, 4]

In [8]:
# 1번 인덱스의 요소 삭제 후 반환
arr.pop(1)

2

In [9]:
arr

[1, 3, 4]

리스트에서 특정 값을 찾아서 삭제하고 싶을 때는 remove() 메서드를 사용합니다.

**remove(값)**

In [10]:
arr = [1,2,3,4,2]
arr.remove(3)
arr

[1, 2, 4, 2]

In [11]:
# 값이 여러 개인 경우에는 첫번째로 찾은 값을 삭제합니다.
arr = [1,2,3,4,2]
arr.remove(2)
arr

[1, 3, 4, 2]

# 3. 리스트의 할당과 복사 알아보기

In [12]:
a = [1,2,3,4,5]
b = a 
print(f'a = {a}')
print(f'b = {b}')

a = [1, 2, 3, 4, 5]
b = [1, 2, 3, 4, 5]

b = a 와 같이 리스트를 다른 변수에 할당하면 리스트는 두 개가 될 것 같지만 실제로는 리스트가 한 개 입니다.

![](05_List_reference.png)

In [13]:
id(a)

1921334164928

In [14]:
id(b)

1921334164928

In [15]:
a is b

True

즉 a 와 b 가 같은 객체를 가르키고 있습니다.  
즉 a리스트의 값을 수정하면 b리스트도 같이 변하는 문제가 발생합니다.

In [16]:
a[2] = 10
a

[1, 2, 10, 4, 5]

In [17]:
b

[1, 2, 10, 4, 5]

## 리스트를 바람직하게 복사하는 방법

In [18]:
# 슬라이싱을 사용한 복사
a = [1,2,3]
b = a[:]

a[1] = 5

print(f'a = {a}')
print(f'b = {b}')

a = [1, 5, 3]
b = [1, 2, 3]

In [19]:
# list() 생성자를 이용한 복사
a = [1,2,3]
b = list(a)

a[1] = 5

print(f'a = {a}')
print(f'b = {b}')

a = [1, 5, 3]
b = [1, 2, 3]

In [20]:
# copy 모듈의 copy() 함수를 사용한 복사
import copy

a = [1,2,3]
b = copy.copy(a)

a[1] = 5

print(f'a = {a}')
print(f'b = {b}')

a = [1, 5, 3]
b = [1, 2, 3]

###  2차원 이상 부터는 copy모듈의 deepcopy를 사용하는 것이 바람직 합니다.  

**copy.deepcopy(리스트)**

# 4. 반복문으로 리스트의 요소를 모두 출력하기

<code>for 변수 in 리스트:  
    반복할 코드
</code>

형식으로 in 뒤에 리스트를 지정하면 됩니다.

In [21]:
arr = [62,3,2,162,46]

for i in arr:
    print(i)

62
3
2
162
46

# 4.2 인덱스와 요소를 함께 출력하기

<code>for 인덱스, 요소 in enumerate(리스트):</code>

형식으로 인덱스와 요소를 함께 출력할 수 있습니다.

In [22]:
arr = [62,3,2,162,46]

for idx, value in enumerate(arr):
    print(idx, value)

0 62
1 3
2 2
3 162
4 46

# 5. 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기

In [23]:
arr = [5,1,6,2,7,4,3]

In [24]:
# 가장 작은 수 
min(arr)

1

In [25]:
# 가장 큰 수
max(arr)

7

In [26]:
# 요소들의 합
sum(arr)

28

# 6. 리스트 컴프리헨션(list comprehension) 사용하기   

### 리스트 컴프리헨션이란?
#### 리스트 안에 for문, if문 등을 지정하여 리스트를 생성하는 방법(파이썬의 강력한 기능 중 하나)
 
**[식 for 변수 in 이터러블객체]**  
**list(식 for 변수 in 이터러블객체)**

In [27]:
# range(10) 객체에서 각 요소들을 꺼내어 i + 5 연산을 한 리스트 생성
[i + 5 for i in range(10)]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [28]:
# range(10) 객체에서 각 요소들을 꺼내어 2의 배수로만 이루어진 리스트 생성

# 조건에 맞는 값만 리스트에 넣고 싶을 경우 if(조건)문을 for 문절 뒤에 작성 

[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [29]:
# range(10) 객체에서 2의 배수는 "even" 2의 배수가 아니면 "odd"로 구성된 리스트 생성

['even' if i % 2 == 0 else  'odd' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [30]:
# for 앞에 써는 if(조건)절은 중첩하여 사용할 수 있습니다.

#range(1, 10) 객체에서 3의 배수는 Three, 5의 배수는 'Five', 나머지는 'Other'로 구성된 리스트 생성
['Three' if i % 3 == 0 else 'Five' if i % 5 ==0 else 'Other' for i in range(1, 10)]

['Other',
 'Other',
 'Three',
 'Other',
 'Five',
 'Three',
 'Other',
 'Other',
 'Three']

# 7. 리스트에 map 사용하기

map 함수는 리스트의 요소를 지정된 함수로 처리해주는 함수입니다.

**map(함수, 이터러블객체)**

In [31]:
# 활용 


# 수를 입력받아 **2 (제곱) 해주는 함수
def power2(n):
    return n**2



a = [1,2,3,4,5,6,7]

# 각각의 요소가 함수의 결과로 바뀐 리스트 생성
list(map(power2, a))

[1, 4, 9, 16, 25, 36, 49]

In [32]:
#각각의 요소가 str함수가 적용되어 문자열로 변경된 리스트 생성
list(map(str, a))

['1', '2', '3', '4', '5', '6', '7']

# 8. input().split()과 map

In [33]:
# 파이썬에서 여러 변수에 한번의 입력으로 값을 할당 할 때 쓰이는 방식이며
# 매우 많이 사용합니다

a,b,c,d = map(int, input().split())

1 5 9 2

In [34]:
print(a,b,c,d)

1 5 9 2

In [35]:
# Step by Step

tmp = input()

1 5 9 2

In [36]:
# input()함수의 기본형이 str형식으로 입력받습니다.
tmp

'1 5 9 2'

In [37]:
# split() 메서드를 사용하여 공백을 기준으로 나눈 리스트를 생성합니다.
tmp.split()

['1', '5', '9', '2']

In [38]:
# map() 함수를 이용하여 리스트의 각 요소들을 int형으로 바꿔줍니다.
map(int, ['1', '5', '9', '2'])

In [39]:
# map 객체를 언패킹 하여 각 변수에 할당해 줍니다.
a,b,c,d = map(int, ['1', '5', '9', '2'])

# 8. 튜플 응용하기

### 튜플은 리스트의 이뮤터블한 버전이라 생각하시면 됩니다.
### 즉 튜플은 수정하는 매서드는 사용할 수 없지만 
### 요소의 값, 인덱스, 개수 등 튜플을 수정하지 않는 메서드들은 사용할 수 있습니다.

# 프로그래머스 문제풀이

짝수의 합 - 리스트 컴프리헨션을 활용하여 풀어보세요  
배열 회전시키기  
문자열 정렬하기 (1) - 리스트 컴프리헨션 활용하여 풀어보세요  Tip.(문자열이 "숫자"인지 확인할 수 있는 .isdigit()라는 함수가 있습니다.)  
배열 원소의 길이