### 파이썬은 집합을 표현하는 세트(set)라는 자료형을 제공합니다.   
### 따라서 세트는 합집합, 교집합, 차집합 등의 연산이 가능합니다.

# 1. 세트 만들기

**세트 = {값1, 값2, 값3}**  

세트는 각 요소간의 순서가 없고 중복될 수 없습니다.

In [1]:
fruits = {'딸기', '사과', '오렌지'}

fruits

{'딸기', '사과', '오렌지'}

In [2]:
# 중복되는 딸기 하나만 표현
fruits = {'딸기', '사과', '오렌지', '딸기'}

fruits

{'딸기', '사과', '오렌지'}

In [3]:
# 순서가 없습니다.
fruits = {'딸기',2, 53, 21,  '사과', '오렌지', 1, 23, 321}

fruits

{1, 2, 21, 23, 321, 53, '딸기', '사과', '오렌지'}

## 1.1. 세트에 특정 값이 있는지 확인하기

In [4]:
fruits = {'딸기', '사과', '오렌지', '딸기'}

'딸기' in fruits

True

In [5]:
'삼겹살' in fruits

False

In [6]:
# not(부정)도 사용 가능
'딸기' not in fruits

False

In [7]:
'삼겹살' not in fruits

True

## 1.2 set를 사용하여 세트 만들기  

**set(이터러블 객체)**

In [8]:
# 문자열을 세트로 만들면 유일한 문자만 세트로 만들어 지면 중복 허용X
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [9]:
set(range(5))

{0, 1, 2, 3, 4}

빈 세트 만들기

In [10]:
s = set()
s

set()

In [11]:
# s= {} 와 같이 사용하면 빈 딕셔너리가 만들어지므로 주의
s = {}
s

{}

파이썬은 type() 함수를 사용하여 객체의 타입을 알 수 있습니다.

**type(객체)**

In [12]:
type(s)

dict

#### 세트의 내부적으로 해쉬를 이용하여 구현되어 있습니다.
#### 즉 뮤터블한 객체는 요소로 가지지 못합니다.

# 2. 집합 연산 사용하기

## 합집합(union)  

  
**세트1 | 세트2**    ==> (shift키 + \\)  
**set.union(세트1, 세트2)**

In [13]:
a = {1,2,3,4}
b = {3,4,5,6}

a | b

{1, 2, 3, 4, 5, 6}

In [14]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

## 교집합(intersection)   

**세트1 & 세트2**  
**set.intersection(세트1, 세트2)**

In [15]:
a = {1,2,3,4}
b = {3,4,5,6}

a & b

{3, 4}

In [16]:
set.intersection(a,b)

{3, 4}

## 차집합(difference)  

**세트1 - 세트2**  
**set.difference(세트1, 세트2)**

In [17]:
a = {1,2,3,4}
b = {3,4,5,6}

a - b

{1, 2}

In [18]:
set.difference(a,b)

{1, 2}

# 3. 세트가 같은지 다른지 확인하기  


== 연산자를 사용하여 서로 같은지 확인 가능

In [19]:
a = {1,2,3,4}

In [20]:
a == {1,2,3,4}

True

In [21]:
# 세트는 요소의 순서가 정해서 있지 않으므로 비교했을 때 각 요소만 같다면 참입니다
a == {4,1,3,2}

True

# 4. 세트 조작하기

**add(요소)** 는 세트에 요소를 추가합니다.

In [22]:
a = {1,2,3}
a.add(6)
a

{1, 2, 3, 6}

**remove(요소)** 는 특정 요소를 삭제하고 없으면 에러를 발생시킵니다.

In [23]:
a = {1,2,3}
a.remove(2)
a

{1, 3}

In [24]:
a = {1,2,3}
a.remove(7)
a

KeyError: 7

**discard(요소)** 는 세트에서 특정 요소를 삭제하고 없다면 그냥 넘어갑니다.

In [25]:
a = {1,2,3}
a.discard(7)
a

{1, 2, 3}

### 세트도 이터러블한 객체이므로 len()함수 사용이 가능합니다.

In [26]:
a = {1,2,3,4}
len(a)

4

# 5. 세트의 할당과 복사

세트도 리스트와 딕셔너리처럼 복사와 할당이 같은 메커니즘 입니다.

# 6. 반복문으로 세트의 요소 모두 출력하기

In [27]:
# 단 순서가 없으므로 무작위로 나옵니다.
for i in {1, 3, 5, 'b', 'g'}:
    print(i)

b
1
3
5
g

# 7. 세트 컴프리헨션 사용하기

**{식 for 변수 in 반복가능한객체}**  
**set(식 for 변수 in 반복가능한객체)**

In [28]:
# Ex 

arr = [1,2,3,4,2,4,6,8]
arr

[1, 2, 3, 4, 2, 4, 6, 8]

In [29]:
{i for i in arr}

{1, 2, 3, 4, 6, 8}

### 이전의 컴프리헨션들과 동일하게 if문도 사용할 수 있습니다.

In [30]:
arr = [1,2,3,4,2,4,6,8]

#홀수만 가지는 세트를 만드는 세트 컴프리헨션 
{i for i in arr if i % 2 == 1}

{1, 3}

In [31]:
# 짝수면 10을 더하고 홀수면 3 을 더하는 컴프리헨션 
{i + 10 if i % 2 == 0 else i+3 for i in arr}

{4, 6, 12, 14, 16, 18}

# 프로그래머스 문제  

주사위 게임 2  (주사위의 중복을) 세트를 활용해서 해당 문제를 해결해 보세요